@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');


body {
  background-color: #fcf8e8;
}
#guidebilled {
  width: 100%;
  margin-bottom: 20px;
}

#video {
  width: 100%;

}

#drinks {
  width: 100%;

}
#podcast {
  width: 100%;
  margin-bottom: 20px;
}
#guides {
  width: 100%;
  margin-bottom:20px;
}
.col {
  padding-left: 50px;
  padding-right: 50px;

}
#guides1 {
  padding-left: 100px;
  padding-right: 100px;
}

#Podcast {
  width: 25%;
}

#reklame {
  width: 80%;
  margin: auto;
  padding: 5%;
}

#logo {
  height: 90px;
}

#streg {
  width: 100%;
}

#menu {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
}

#menu li {
  margin: 0 25px;
}
.links{
  padding-top: calc(90px - 24px);
}
.orange {
  color: orange;
}
.green {
  color: #9dbf5b;
}
.pink {
  color: #d57c99;
}
.blue {
  color: #79b1df;
}

#menu a, #menu a:visited{
  text-decoration: none;
  display: block;
}

#menu a:hover {
  color: #000;
}

#guidesSide {
width: 80%;
margin: center;
}



h1,h2,h3,h5 {
  font-family: 'Andada Pro', serif;

}
